In [40]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
import numpy as np
import pandas as pd
import sys

sys.path.append("../Lib")

In [42]:
df_data= pd.read_excel('..\Data\OppScrData.xlsx').iloc[:,0:52]

In [43]:
df_data.describe()

,Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,Age at CT,CLINICAL OUTCOMES,DEATH [d from CT],CVD DX Date [d from CT],Heart failure DX Date [d from CT],...,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston
count,9223.000000,9223.000000,9223.000000,9223.000000,9100.000000,9223.000000,0.0,549.000000,901.000000,643.000000,...,9176.000000,9091.000000,9091.000000,9091.000000,9091.000000,9090.000000,9195.000000,9195.000000,9071.000000,9222.000000
mean,5669.447902,5664.570096,5021.384907,2936.050201,28.846033,57.093679,NaN,2268.253188,686.237514,985.158631,...,171.167720,377.708045,672.207190,172.991393,208.044914,0.907246,28.913116,154.362254,52.845874,698.799375
std,3233.661199,3484.630147,3050.609532,1481.597151,6.541126,7.829047,NaN,1314.409179,1792.690580,2021.954911,...,42.250455,188.051371,220.512034,120.586593,105.212502,0.710412,12.109405,45.938823,12.532750,1747.953761
min,1.000000,357.000000,15.000000,0.000000,0.300000,23.000000,NaN,9.000000,-4574.000000,-4932.000000,...,-20.000000,0.000000,253.376871,0.000000,0.000000,0.130985,-118.307532,9.376304,0.562102,0.000000
25%,2887.500000,2775.500000,2433.500000,1858.000000,24.500000,51.000000,NaN,1154.000000,-554.000000,-523.000000,...,142.000000,242.505009,514.288386,84.587216,131.455115,0.480806,22.265564,122.020057,44.504159,0.000000
50%,5709.000000,5251.000000,4823.000000,3205.000000,27.600000,56.000000,NaN,2225.000000,577.000000,1025.000000,...,168.000000,355.743590,641.161538,148.569697,189.943243,0.722089,30.661951,147.474269,51.853886,58.490500
75%,8388.500000,7872.500000,7431.500000,4221.000000,31.700000,61.000000,NaN,3347.000000,1984.000000,2652.500000,...,197.000000,484.162523,787.605688,229.832754,268.287229,1.155669,37.513563,185.740992,60.805983,492.835750
max,11331.000000,13523.000000,10985.000000,5201.000000,89.300000,95.000000,NaN,5070.000000,5062.000000,4934.000000,...,378.000000,1206.222222,1859.699346,1054.685714,763.112121,26.340177,99.484949,1605.744327,187.713528,36942.923000

In [44]:
index_outcome=np.arange(15,40)
index_ct=np.arange(41,52)
index_cd=np.arange(0,14)

# CT + Death

In [45]:
index_ct_death=np.append(index_ct,15)
index_ct_death

array([41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 15])

In [46]:
df_ct_death=df_data.iloc[:,index_ct_death]
df_ct_death

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),DEATH [d from CT]
0,135.0,NaN,NaN,NaN,NaN,NaN,18.242557,170.053192,58.717526,5473.561,35,967.0
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52,359.0
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54,NaN
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57,2351.0
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53,658.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38,NaN
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54,NaN
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45,NaN
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44,NaN
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54,NaN

In [47]:
df_ct_death.loc[:, 'DEATH [d from CT]']=df_ct_death.loc[:, 'DEATH [d from CT]'].fillna(0).copy()

D:\language_lib\Pythons\anaconda3\envs\SNF\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [48]:
df_ct_death1=df_ct_death.dropna()
df_ct_death1

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),DEATH [d from CT]
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52,359.0
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54,0.0
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57,2351.0
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53,658.0
5,94.0,247.412821,601.705128,145.653846,101.758974,1.431361,40.243137,174.813554,53.751548,35.760,54,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38,0.0
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54,0.0
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45,0.0
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44,0.0
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54,0.0

In [49]:
df_ct_death_num=df_ct_death1.apply(lambda s: pd.to_numeric(s, errors='coerce')).dropna()
df_ct_death_num

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),DEATH [d from CT]
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52.0,359.0
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54.0,0.0
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57.0,2351.0
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53.0,658.0
5,94.0,247.412821,601.705128,145.653846,101.758974,1.431361,40.243137,174.813554,53.751548,35.760,54.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38.0,0.0
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54.0,0.0
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45.0,0.0
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44.0,0.0
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54.0,0.0

In [50]:
normalized_df_ct_death_num=(df_ct_death_num-df_ct_death_num.min())/(df_ct_death_num.max()-df_ct_death_num.min())
normalized_df_ct_death_num

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),DEATH [d from CT]
1,0.532663,0.393472,0.274501,0.168009,0.389348,0.018185,0.509938,0.361434,0.255681,0.073331,0.550847,0.070809
2,0.693467,0.397302,0.281808,0.145288,0.426880,0.013448,0.552207,0.401168,0.264701,0.000000,0.567797,0.000000
3,0.424623,0.228194,0.206131,0.130292,0.181554,0.032868,0.596116,0.640028,0.366301,0.070015,0.593220,0.463708
4,0.316583,0.250430,0.208872,0.185983,0.139321,0.063187,0.396254,0.503227,0.252483,0.011681,0.559322,0.129783
5,0.286432,0.193105,0.216848,0.131868,0.124152,0.049615,0.651621,0.521803,0.284205,0.000968,0.567797,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,0.422111,0.338387,0.242156,0.142805,0.337610,0.017799,0.600767,0.492153,0.293269,0.000000,0.432203,0.000000
9219,0.469849,0.140735,0.153565,0.081405,0.111719,0.033340,0.661342,0.565526,0.315901,0.003789,0.567797,0.000000
9220,0.389447,0.676896,0.561051,0.229404,0.750219,0.011458,0.515537,0.422438,0.305764,0.030209,0.491525,0.000000
9221,0.600503,0.336833,0.253355,0.196900,0.260147,0.034892,0.589094,0.408290,0.269128,0.095157,0.483051,0.000000
9222,0.429648,0.036685,0.068176,0.022567,0.029572,0.034240,0.548773,0.266445,0.155628,0.081616,0.567797,0.000000

In [51]:
data_ct_death_np=normalized_df_ct_death_num.values

In [52]:
np.save('..\Data\data_ct_death_np.npy',data_ct_death_np)

# CT + CD + Death

In [53]:
index_ct_cd_death=np.append(np.append(index_ct,index_cd),15)
df=df_data.iloc[:,index_ct_cd_death]

In [54]:
df=df.drop(['Alcohol abuse'],axis=1)
df

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,...,BMI,BMI >30,Sex,Age at CT,Tobacco,FRS 10-year risk (%),FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),Met Sx,DEATH [d from CT]
0,135.0,NaN,NaN,NaN,NaN,NaN,18.242557,170.053192,58.717526,5473.561,...,37.7,Y,Male,73,NaN,X,4.6,1.04,N,967.0
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,...,30.1,Y,Female,55,NaN,X,5.01,0.27,NaN,359.0
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,...,28.1,N,Female,52,NaN,X,4.13,0.21,N,NaN
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,...,25.0,N,Male,60,Yes,0.06,5.46,0.75,N,2351.0
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,...,22.4,N,Male,88,Yes,0.16,11.65,8.4,N,658.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,...,28.3,N,Male,52,No,0.05,4.97,0.27,N,NaN
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,...,23.4,N,Male,51,Yes,0.06,3.3,0.25,N,NaN
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,...,43.6,Y,Female,63,No,0.02,8.26,0.34,Y,NaN
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,...,26.9,N,Female,55,No,<1%,5.45,0.32,N,NaN
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,...,19.8,N,Male,61,NaN,X,5.2,0.82,N,NaN

In [55]:
df['DEATH [d from CT]']=df['DEATH [d from CT]'].fillna(0)
df

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,...,BMI,BMI >30,Sex,Age at CT,Tobacco,FRS 10-year risk (%),FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),Met Sx,DEATH [d from CT]
0,135.0,NaN,NaN,NaN,NaN,NaN,18.242557,170.053192,58.717526,5473.561,...,37.7,Y,Male,73,NaN,X,4.6,1.04,N,967.0
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,...,30.1,Y,Female,55,NaN,X,5.01,0.27,NaN,359.0
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,...,28.1,N,Female,52,NaN,X,4.13,0.21,N,0.0
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,...,25.0,N,Male,60,Yes,0.06,5.46,0.75,N,2351.0
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,...,22.4,N,Male,88,Yes,0.16,11.65,8.4,N,658.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,...,28.3,N,Male,52,No,0.05,4.97,0.27,N,0.0
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,...,23.4,N,Male,51,Yes,0.06,3.3,0.25,N,0.0
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,...,43.6,Y,Female,63,No,0.02,8.26,0.34,Y,0.0
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,...,26.9,N,Female,55,No,<1%,5.45,0.32,N,0.0
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,...,19.8,N,Male,61,NaN,X,5.2,0.82,N,0.0

In [56]:
df=df.dropna()
df

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,...,BMI,BMI >30,Sex,Age at CT,Tobacco,FRS 10-year risk (%),FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),Met Sx,DEATH [d from CT]
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,...,25.0,N,Male,60,Yes,0.06,5.46,0.75,N,2351.0
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,...,22.4,N,Male,88,Yes,0.16,11.65,8.4,N,658.0
5,94.0,247.412821,601.705128,145.653846,101.758974,1.431361,40.243137,174.813554,53.751548,35.760,...,24.7,N,Male,68,Yes,0.1,6.35,1.59,N,0.0
6,77.0,213.537143,452.882857,113.628571,99.908571,1.137326,1.489383,89.505890,30.905415,1599.994,...,20.0,N,Female,82,Yes,0.04,24.03,13.4,N,1970.0
7,91.0,293.455556,520.911111,80.288889,213.166667,0.376648,1.061778,141.186401,53.427578,0.000,...,29.0,N,Female,76,No,0.04,19.7,7.26,N,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9214,133.0,430.112772,735.297666,201.481773,228.630999,0.881253,34.232709,230.312308,61.804846,0.000,...,29.2,N,Male,52,No,0.03,3.07,0.12,N,0.0
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,...,28.3,N,Male,52,No,0.05,4.97,0.27,N,0.0
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,...,23.4,N,Male,51,Yes,0.06,3.3,0.25,N,0.0
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,...,43.6,Y,Female,63,No,0.02,8.26,0.34,Y,0.0
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,...,26.9,N,Female,55,No,<1%,5.45,0.32,N,0.0

In [57]:
df_one = pd.get_dummies(df['Sex'])
 
# display result
df_two = pd.concat((df_one, df), axis=1)
df_two = df_two.drop(["Sex"], axis=1)
df_two = df_two.drop(["Male"], axis=1)
df = df_two.rename(columns={"Female": "Gender"})

In [58]:
df_one = pd.get_dummies(df['BMI >30'])
 
# display result
df_two = pd.concat((df_one, df), axis=1)
df_two = df_two.drop(['BMI >30'], axis=1)
df_two = df_two.drop(["N"], axis=1)
df = df_two.rename(columns={"Y": 'BMI >30'})

In [59]:
df_one = pd.get_dummies(df['Tobacco'])
 
# display result
df_two = pd.concat((df_one, df), axis=1)
df_two = df_two.drop(['Tobacco'], axis=1)
df_two = df_two.drop(["No"], axis=1)
df = df_two.rename(columns={"Yes": 'Tobacco'})

In [60]:
df_one = pd.get_dummies(df['Met Sx'])
 
# display result
df_two = pd.concat((df_one, df), axis=1)
df_two = df_two.drop(['Met Sx'], axis=1)
df_two = df_two.drop(["N"], axis=1)
df = df_two.rename(columns={"Y": 'Met Sx'})

In [61]:
df=df.drop(['FRS 10-year risk (%)'],axis=1)
df

,Met Sx,Tobacco,BMI >30,Gender,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,...,Liver HU (Median),Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,Age at CT,FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),DEATH [d from CT]
3,0,1,0,0,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,...,57,665,546,1934,2333,25.0,60,5.46,0.75,2351.0
4,0,1,0,0,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,...,53,478,580,1817,532,22.4,88,11.65,8.4,658.0
5,0,1,0,0,94.0,247.412821,601.705128,145.653846,101.758974,1.431361,...,54,8952,640,340,3856,24.7,68,6.35,1.59,0.0
6,0,1,0,1,77.0,213.537143,452.882857,113.628571,99.908571,1.137326,...,49,8461,691,73,1904,20.0,82,24.03,13.4,1970.0
7,0,0,0,1,91.0,293.455556,520.911111,80.288889,213.166667,0.376648,...,54,3687,695,3799,4450,29.0,76,19.7,7.26,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9214,0,0,0,0,133.0,430.112772,735.297666,201.481773,228.630999,0.881253,...,47,9263,13498,10968,360,29.2,52,3.07,0.12,0.0
9218,0,0,0,0,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,...,38,9262,13510,10974,603,28.3,52,4.97,0.27,0.0
9219,0,1,0,0,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,...,54,9287,13511,10975,564,23.4,51,3.3,0.25,0.0
9220,1,0,1,1,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,...,45,956,13514,10978,614,43.6,63,8.26,0.34,0.0
9221,0,0,0,1,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,...,44,6097,13519,10982,365,26.9,55,5.45,0.32,0.0

In [62]:
df=df.apply(lambda s: pd.to_numeric(s, errors='coerce')).dropna()
df

,Met Sx,Tobacco,BMI >30,Gender,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,...,Liver HU (Median),Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,Age at CT,FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),DEATH [d from CT]
3,0,1,0,0,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,...,57.0,665,546,1934,2333,25.0,60,5.46,0.75,2351.0
4,0,1,0,0,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,...,53.0,478,580,1817,532,22.4,88,11.65,8.40,658.0
5,0,1,0,0,94.0,247.412821,601.705128,145.653846,101.758974,1.431361,...,54.0,8952,640,340,3856,24.7,68,6.35,1.59,0.0
6,0,1,0,1,77.0,213.537143,452.882857,113.628571,99.908571,1.137326,...,49.0,8461,691,73,1904,20.0,82,24.03,13.40,1970.0
7,0,0,0,1,91.0,293.455556,520.911111,80.288889,213.166667,0.376648,...,54.0,3687,695,3799,4450,29.0,76,19.70,7.26,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9214,0,0,0,0,133.0,430.112772,735.297666,201.481773,228.630999,0.881253,...,47.0,9263,13498,10968,360,29.2,52,3.07,0.12,0.0
9218,0,0,0,0,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,...,38.0,9262,13510,10974,603,28.3,52,4.97,0.27,0.0
9219,0,1,0,0,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,...,54.0,9287,13511,10975,564,23.4,51,3.30,0.25,0.0
9220,1,0,1,1,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,...,45.0,956,13514,10978,614,43.6,63,8.26,0.34,0.0
9221,0,0,0,1,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,...,44.0,6097,13519,10982,365,26.9,55,5.45,0.32,0.0

In [63]:
df_num=(df-df.min())/(df.max()-df.min())
df_num

,Met Sx,Tobacco,BMI >30,Gender,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,...,Liver HU (Median),Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,Age at CT,FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),DEATH [d from CT]
3,0.0,1.0,0.0,0.0,0.424623,0.231209,0.221572,0.130292,0.192549,0.032868,...,0.593220,0.058522,0.013610,0.174829,0.448654,0.277528,0.513889,0.096139,0.018324,0.463708
4,0.0,1.0,0.0,0.0,0.316583,0.253739,0.224519,0.185983,0.147759,0.063187,...,0.559322,0.042016,0.016195,0.164159,0.102308,0.248315,0.902778,0.218085,0.205228,0.129783
5,0.0,1.0,0.0,0.0,0.286432,0.195656,0.233093,0.131868,0.131672,0.049615,...,0.567797,0.790008,0.020757,0.029457,0.741538,0.274157,0.625000,0.113672,0.038847,0.000000
6,0.0,1.0,0.0,1.0,0.243719,0.166771,0.133504,0.101284,0.129073,0.038396,...,0.525424,0.746668,0.024635,0.005107,0.366154,0.221348,0.819444,0.461978,0.327388,0.388560
7,0.0,0.0,0.0,1.0,0.278894,0.234916,0.179027,0.069444,0.288147,0.009373,...,0.567797,0.325271,0.024939,0.344916,0.855769,0.322472,0.736111,0.376675,0.177376,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9214,0.0,0.0,0.0,0.0,0.384422,0.351440,0.322490,0.185184,0.309868,0.028626,...,0.508475,0.817460,0.998403,0.998723,0.069231,0.324719,0.402778,0.049054,0.002932,0.000000
9218,0.0,0.0,0.0,0.0,0.422111,0.342857,0.260296,0.142805,0.358057,0.017799,...,0.432203,0.817371,0.999316,0.999270,0.115962,0.314607,0.402778,0.086485,0.006597,0.000000
9219,0.0,1.0,0.0,0.0,0.469849,0.142594,0.165069,0.081405,0.118485,0.033340,...,0.567797,0.819578,0.999392,0.999362,0.108462,0.259551,0.388889,0.053586,0.006108,0.000000
9220,1.0,0.0,1.0,1.0,0.389447,0.685838,0.603080,0.229404,0.795655,0.011458,...,0.491525,0.084209,0.999620,0.999635,0.118077,0.486517,0.555556,0.151300,0.008307,0.000000
9221,0.0,0.0,0.0,1.0,0.600503,0.341282,0.272334,0.196900,0.275903,0.034892,...,0.483051,0.538000,1.000000,1.000000,0.070192,0.298876,0.444444,0.095942,0.007818,0.000000

In [64]:
data_ctcd_death_np=df_num.values

In [65]:
np.save('..\Data\data_ctcd_death_np.npy',data_ctcd_death_np)

# CT + AGE

In [66]:
index_ct_age=np.append(index_ct,7)
index_ct_age

array([41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,  7])

In [67]:
df_ct_age=df_data.iloc[:,index_ct_age]
df_ct_age

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),Age at CT
0,135.0,NaN,NaN,NaN,NaN,NaN,18.242557,170.053192,58.717526,5473.561,35,73
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52,55
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54,52
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57,60
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53,88
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38,52
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54,51
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45,63
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44,55
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54,61

In [68]:
df_ct_age_num=df_ct_age.apply(lambda s: pd.to_numeric(s, errors='coerce')).dropna()
df_ct_age_num

,L1_HU_BMD,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median),Age at CT
1,192.0,485.502857,694.314286,183.497143,302.008571,0.607589,16.150123,123.968745,48.413187,2709.064,52.0,55
2,256.0,490.054545,706.051515,159.706061,330.348485,0.483447,23.337964,136.566261,50.101332,0.000,54.0,52
3,149.0,289.108108,584.489189,144.002703,145.102703,0.992419,30.804567,212.296726,69.115854,2586.575,57.0,60
4,106.0,315.530769,588.892308,202.317949,113.212821,1.787059,-3.181874,168.923950,47.814581,431.519,53.0,88
5,94.0,247.412821,601.705128,145.653846,101.758974,1.431361,40.243137,174.813554,53.751548,35.760,54.0,68
...,...,...,...,...,...,...,...,...,...,...,...,...
9218,148.0,420.046763,642.357864,157.105587,262.941176,0.597493,31.595440,165.413121,55.447848,0.000,38.0,52
9219,167.0,185.183362,500.051686,92.813192,92.370170,1.004796,41.896333,188.676052,59.683360,139.967,54.0,51
9220,135.0,822.287179,1154.605128,247.784615,574.502564,0.431303,17.102222,143.309862,57.786350,1115.997,45.0,63
9221,219.0,418.200000,660.346154,213.748718,204.448718,1.045488,29.610469,138.824463,50.929786,3515.371,44.0,55
9222,151.0,61.543590,362.889744,31.202564,30.341026,1.028395,22.753997,93.852591,29.688124,3015.129,54.0,61

In [69]:
data_ct_age_np=df_ct_age_num.values

In [70]:
np.save('..\Data\data_ct_age_np.npy',data_ct_age_np)